<div class="footer-style">
    <div class="footer-heading p-3">
        <h2>About Us</h2>
            <p>Started in West Clare 2019, we design and make custom furniture with the customers desires foremost in our ethics. You can choose from a selection of 
                unique designs or through consultation a one of a kind furniture piece can be created to match you wishes.
            </p>
        <h2>What we do</h2>
            <p>We manufacture furniture by hand, from locally sourced material, in Ireland. Many of our designs incorporate using large sizes of wood making a unique 
                and solid piece of furniture that will stand the test of time.  All out products are hand built and finished giving each piece of furniture its own characteristics.
                We are proud to offer a multitude of finishes including stains, oils and painted finishes.
            </p>
    </div>
    <div class="social-link-1 py-3">
        <a class="social-link" href="http://www.facebook.com" target="_blank" rel="noopener">
                <i class="fab fa-facebook-f"></i><span class="sr-only">facebook</span></a>
        <a class="social-link" href="http://www.twitter.com" target="_blank" rel="noopener">
                <i class="fab fa-twitter"></i><span class="sr-only">twitter</span> </a>
        <a class="social-link" href="http://www.youtube.com" target="_blank" rel="noopener"> 
                <i class="fab fa-youtube"></i><span class="sr-only">youtube</span></a>
        <a class="social-link" href="https://www.instagram.com" target="_blank" rel="noopener">
                <i class="fab fa-instagram"></i><span class="sr-only">instagram</span></a>
    </div> 
</div>
