<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font-3 font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font-3 font-weight-bold nav-link text-white mr-5" href="#" id="indoors-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Indoors
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="indoors-link">
                <a href="{% url 'products' %}?category=indoor_chairs" class="dropdown-item">Chairs</a>
                <a href="{% url 'products' %}?category=mantles" class="dropdown-item">Mantles</a>
                <a href="{% url 'products' %}?category=indoor_tables" class="dropdown-item">Tables</a>
                <a href="{% url 'products' %}?category=indoor_chairs,mantles,indoor_tables" class="dropdown-item">All Indoors</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font-3 font-weight-bold nav-link text-white mr-5" href="#" id="outdoors-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Outdoors
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="outdoors-link">
                <a href="{% url 'products' %}?category=benches" class="dropdown-item">Benches</a>
                <a href="{% url 'products' %}?category=outdoor_chairs" class="dropdown-item">Chairs</a>
                <a href="{% url 'products' %}?category=outdoor_tables" class="dropdown-item">Tables</a>
                <a href="{% url 'products' %}?category=benches,outdoor_chairs,outdoor_tables" class="dropdown-item">All Outdoors</a>
            </div>
        </li>
    </ul>
</div>